
<section class="cameraOverlay hidden">
    <div class="cameraOverlay--video">
        <video id="video"autoplay></video>
        <canvas id="canvas"></canvas>
    </div>
    <button id="snap">Snap Photo</button>
    {{!-- <div class="cameraOverlay--canvas">
        <canvas id="canvas"></canvas>
    </div> --}}
</section>