
<section class="emojiOverlay hidden">
    <section class="animContainer">
        <canvas id="canvas-emoji" width="100" height="100"></canvas>
    </section>
    {{!-- sliders to control canvas animations --}}
    <section class="sliders">
        <div class="slider-container">
            <label for="slider1">Wenkbrauwen</label>
            <input type="range" min="0" max="100" value="50" class="eyebrowsSlider" id="slider1">
        </div>
        <div class="slider-container">
            <label for="slider2">Mond</label>
            <input type="range" min="0" max="100" value="50" class="mouthSlider" id="slider2">
        </div>
    </section>
</section>