/* basic css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --dark: #017F6A;
    --light: #E6FEDA;
    --gray: #B3B3B3;
    --background: #EFE6DF;
    --accent: #02A884;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    width: 100dvw;
    height: 100dvh;
    background: var(--background) url(../images/background.webp) center;
    background-size: 20rem;
    color: var(--black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 100%;
}

header {
    background: var(--dark);
    height: 2.5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;

    z-index: 10;
}

main {
    position: relative;
    width: 100%;
    height: 100dvh;
}

.header--userInfo {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--white);
}

.header--userInfo > img {
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.header--userInfo > div h1 {
    font-weight: 600;
}

.header--userInfo > div p {
    font-size: .75rem;
}

.header--userInfo .header--backBtn {
    width: 1rem;
    height: 1rem;
    background: url(../images/back.svg) no-repeat center; 
    background-size: contain;
    border: none;
}

.header--functions {
    display: flex;
    gap: 1.5rem;
}

.header--functions > button {
    width: 1.25rem;
    height: 1.25rem;
    border: none;
    background: none;
}

.header--functions .header--videoBtn {
    background: url(../images/video.svg) no-repeat center; 
    background-size: contain;
}

.header--functions .header--callBtn {
    background: url(../images/phone.svg) no-repeat center; 
    background-size: contain;
}

.header--functions .header--settingsBtn {
    background: url(../images/settings.svg) no-repeat center; 
    background-size: contain;
}


/* ---------------------------------- */
/*                Chat                */
/* ---------------------------------- */

.chat {
    list-style: none;
    width: clamp(20rem, calc(100% - 2rem), 40rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc(100% - 5rem);
    overflow: scroll;
    padding: 0 .5rem;
}

.sendImage {
    width: 20%;
    margin-left: auto;
}

.chat > li {
    max-width: 80%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    position: relative;
    margin-top: 1rem;
    /* drop shadow */
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .1));
}

.chat > li:has(p:nth-of-type(2)) p:first-of-type {
    font-weight: 600;
    margin-bottom: .5rem;
}

.chat .receivedText {
    background: var(--white);
    margin-right: auto;
    border-top-left-radius: 0;
}

.chat .receivedText + .receivedText {
    border-top-left-radius: .5rem;
    margin-top: .2rem;
}

.chat .receivedText::before {
    content: '';
    position: absolute;
    top: -.25rem;
    left: -.2rem;
    width: 0;
    height: 0;
    rotate: -90deg;
    border-top: .5rem solid transparent;
    border-right: .5rem solid var(--white);
    border-bottom: .5rem solid transparent;
}

.chat .receivedText + .receivedText::before {
    content: '';
    display: none;
}

.chat .sentText {
    background: var(--light);
    margin-left: auto;
    border-top-right-radius: 0;
}

.chat .sentText + .sentText {
    background: var(--light);
    margin-left: auto;
    border-top-right-radius: .5rem;
    margin-top: .2rem;
}

.chat .sentText::before {
    content: '';
    position: absolute;
    top: -.25rem;
    right: -.2rem;
    width: 0;
    height: 0;
    rotate: 90deg;
    border-top: .5rem solid transparent;
    border-left: .5rem solid var(--light);
    border-bottom: .5rem solid transparent;
}

.chat .sentText + .sentText::before {
    content: '';
    display: none;
}

/* ----------- text input ----------- */

.textInput {
    display: flex;
    width: 100%;
    min-height: 3rem;
    justify-content: space-between;
    gap: .5rem;
    width: calc(100% - 1rem);
    margin: auto;
    margin-bottom: .5rem;
    margin-top: .5rem;

    position: fixed;
    bottom: .5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.textInput > div {
    width: 100%;
    display: flex;
    padding: .8rem;
    background: var(--white);
    border-radius: 1000rem;
}

.textInput > div > textarea {
    width: 100%;
    border: none;
    background: none;
    margin: 0 1rem;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    resize: none;
    overflow: hidden;
    height: 1rem;
}

.textInput button {
    /* width: 1.5rem;
    height: 1.5rem; */
    height: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    border: none;
}

.textInput > div > .textInput--emojiBtn {
    background: url(../images/emoji.svg) no-repeat center;
    background-size: contain; 
}

.textInput > div > .textInput--attachmentsBtn {
    background: url(../images/paperclip.svg) no-repeat center;
    background-size: contain; 
}

.textInput .textInput--sendBtn {
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1/1;
    background: var(--accent) url(../images/send.svg) no-repeat center;
    background-size: 50%; 
    border-radius: 50%;
}

/* ---------------------------------- */
/*           Camera Overlay           */
/* ---------------------------------- */

.hidden {
    display: none !important;
}

.emojiOverlay {
    width: calc(100% - 4rem);
    padding: 1rem;
    margin: auto;
    height: fit-content;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1rem;
    margin-top: 1rem;

    position: fixed;    
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.emojiOverlay--btns {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.emojiOverlay--btns > button {
    appearance: none;
    border: none;

    padding: 1rem;
    background-color: var(--accent);
    color: var(--white);
    font-weight: bold;
    border-radius: 1rem;
}

.animContainer {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.animContainer > canvas {
    height: 100%;
    margin-left: 2rem;
}

.sliders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sliders > .slider-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.sliders > .slider-container > input[type=range] {
    width: 90%;
    -webkit-appearance: none;
    background: transparent;
    height: .6rem;
    border-radius: 1rem;
    outline: none;
    background: var(--gray);
}

.sliders > .slider-container > input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--accent);
    cursor: pointer;
}


/* .emojiOverlay .emojiOverlay--canvas {
    width: 10rem;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
} */

/* .emojiOverlay  canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
} */

.emojiOverlay--emojis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.emojiOverlay--firstContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    align-items: center;
    gap: 1rem;
}

.emojiOverlay--emojiContainer {
    width: 2rem;
    height: 2rem;
}

.emojiOverlay--emojiContainer label {
    width: 100%;
    height: 100%;
    display: block;
}

/* hide input radio button */
.emojiOverlay--emojiContainer input {
    display: none;
}

.emojiOverlay--emojiContainer img {
    border: 4px solid transparent;
    border-radius: 50%;
}

.emojiOverlay--emojis:has(.emojiOverlay--emojiContainer:nth-of-type(1) input:checked) .emojiOverlay--emojiContainer:nth-of-type(1) img {
    border: 4px solid var(--accent);
    border-radius: 50%;
}

.emojiOverlay--emojis:has(.emojiOverlay--emojiContainer:nth-of-type(2) input:checked) .emojiOverlay--emojiContainer:nth-of-type(2) img {
    border: 4px solid var(--accent);
    border-radius: 50%;
}

.emojiOverlay--emojis:has(.emojiOverlay--emojiContainer:nth-of-type(3) input:checked) .emojiOverlay--emojiContainer:nth-of-type(3) img {
    border: 4px solid var(--accent);
    border-radius: 50%;
}